.yatay-menu {
  background-color: #eaf6f6;
  /*   list-style-position: inside;
  list-style-type: "💻"; */
  margin-top: 50vh;
  padding: 0;
}

ul.yatay-menu li {
  background-color: #ff0063;
  display: inline-block;
  /*   margin: 50vh 10px;*/
  margin-left: 20px;
}

a {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  padding: 5px 10px;
}

/* 
Butonlar sayfaya ortalı olmalı
A taglarında SEO gereksinimleri yerine 
getirilmeli
*/
